<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="#{player.list.page.title}">Listado de Jugadores</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
 
<body>
    <!-- Selector de idiomas -->
    <div class="language-selector">
        <a th:href="@{/web/jugadores(lang=es)}">🇪🇸</a>
        <a th:href="@{/web/jugadores(lang=en)}">🇬🇧</a>
        <a th:href="@{/web/jugadores(lang=ar)}">🇲🇦</a>
        <a th:href="@{/web/jugadores(lang=de)}">🇩🇪</a>
    </div>

    <hr>
    <h1 th:text="#{player.list.title}">LISTADO DE JUGADORES</h1>

    <div class="tables-wrapper">
        <!-- Tabla Jugadores -->
        <div class="table-container">
            <h2>Jugadores</h2>

            <a th:href="@{/web/jugadores/nuevo}" th:text="#{generic.link.create}">
                Crear Nuevo
            </a>
             <a th:href="@{/web/jugadores/pdf}">
            <img th:src="@{/images/archivo-pdf.png}" 
                 th:alt="#{generic.link.export.pdf}" 
                 th:title="#{generic.link.export.pdf}" 
                 width="50">
        </a>

            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Edad</th>
                        <th>Pierna Habil</th>
                        <th>Email</th>
                        <th>Categoría</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="j : ${jugadores}">
                        <td th:text="${j.id.value}">1</td>
                        <td th:text="${j.nombre}">Nombre</td>
                        <td th:text="${j.apellido}">Apellido</td>
                        <td th:text="${j.edad}">Edad</td>
                        <td th:text="${j.piernaHabil}">Pierna Habil</td>
                        <td th:text="${j.email}">Email</td>
                        <td>
                            <span th:each="c : ${categorias}" th:if="${c.id == j.categoria}" th:text="${c.nombre}">
                                Infantil
                            </span>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>

    </div>


</body>

</html>