<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${param.lang ?: 'es'}">

<head>
    <meta charset="UTF-8">
    <title>Listado de Jugadores</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
</head>

<body>

    <header>
        <h1>Listado de Jugadores</h1>
        <!-- Selector de idiomas -->
        <div class="language-selector">
            <a th:href="@{/web/jugadores/lista(lang='es')}">🇪🇸</a>
            <a th:href="@{/web/jugadores/lista(lang='en')}">🇬🇧</a>
            <a th:href="@{/web/jugadores/lista(lang='jp')}">🇯🇵</a>
        </div>
    </header>

    <main>

        <div class="actions">
            <a th:href="@{/web/jugadores/nuevo}" class="action-card">Crear jugador</a>
            <a th:href="@{/web/menu(lang=${param.lang})}" class="action-card">Volver al menú</a>
            <a th:href="@{/web/jugadores/pdf}" class="action-card">Exportar a PDF</a>
        </div>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Edad</th>
                    <th>Pierna Hábil</th>
                    <th>Email</th>
                    <th>Categoría</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="j : ${jugadores}">
                    <td th:text="${j.id.value}"></td>
                    <td th:text="${j.nombre}"></td>
                    <td th:text="${j.apellido}"></td>
                    <td th:text="${j.edad}"></td>
                    <td th:text="${j.piernaHabil}"></td>
                    <td th:text="${j.email}"></td>
                    <td>
                        <span th:each="c : ${categorias}" th:if="${c.id.value == j.categoria.value}"
                            th:text="${c.nombre}"></span>
                    </td>
                </tr>
            </tbody>
        </table>

    </main>

</body>

</html>