<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${param.lang ?: 'es'}">

<head>
    <meta charset="UTF-8">
    <title>Modificar Jugadores</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
</head>

<body>

    <header>
        <h1>Modificar Jugadores</h1>
        <!-- Selector de idiomas -->
        <div class="language-selector">
            <a th:href="@{/web/jugadores/modificar(lang='es')}">🇪🇸</a>
            <a th:href="@{/web/jugadores/modificar(lang='en')}">🇬🇧</a>
            <a th:href="@{/web/jugadores/modificar(lang='jp')}">🇯🇵</a>
        </div>
    </header>

    <main>

        <div class="actions">
            <a th:href="@{/web/jugadores/nuevo}" class="action-card" th:text="#{generico.enlace.crear}">Crear
                jugador</a>
            <a th:href="@{/web/menu(lang=${param.lang})}" class="action-card" th:text="#{volver.menu}">Volver al
                menú</a>
            <a th:href="@{/web/jugadores/pdf}" class="action-card" th:text="#{generico.enlace.exportar.pdf}">Exportar a
                PDF</a>
        </div>

        <table>
            <thead>
                <tr>
                    <th th:text="#{jugador.tabla.cabecera.id}">ID</th>
                    <th th:text="#{jugador.tabla.cabecera.nombre}">Nombre</th>
                    <th th:text="#{jugador.tabla.cabecera.apellido}">Apellido</th>
                    <th th:text="#{jugador.tabla.cabecera.edad}">Edad</th>
                    <th th:text="#{jugador.tabla.cabecera.pierna_habil}">Pierna Hábil</th>
                    <th th:text="#{jugador.tabla.cabecera.email}">Email</th>
                    <th th:text="#{jugador.tabla.cabecera.categoria}">Categoría</th>
                    <th></th> 
                </tr>
            </thead>
            <tbody>
                <tr th:each="j : ${jugadores}">
                    <td th:text="${j.id.value}"></td>
                    <td th:text="${j.nombre}"></td>
                    <td th:text="${j.apellido}"></td>
                    <td th:text="${j.edad}"></td>
                    <td th:text="${j.piernaHabil}"></td>
                    <td th:text="${j.email}"></td>
                    <td>
                        <span th:each="c : ${categorias}" th:if="${c.id.value == j.categoria.value}"
                            th:text="${c.nombre}"></span>
                    </td>
                    <td>
                        <!-- Botón Editar lleva al formulario de edición -->
                        <form th:action="@{'/web/jugadores/editar/' + ${j.id.value}}" method="get">
                            <button type="submit" class="btn btn-edit" th:text="#{boton.editar}">Editar</button>
                        </form>

                    </td>
                </tr>
            </tbody>
        </table>

    </main>

</body>

</html>